<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- default level to INFO, use debug CLI flag to get debug output -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
