on:
  workflow_dispatch:
    inputs:
      FORCE_BUILD:
        description: "List of plugins to build, or 'ALL'"
        required: false
      COMMIT_RANGE:
        description: "Commit range to build 1234abc..5689def"
        required: false
      API_FILES_VERSION:
        description: "RuneLite version to use .api files from"
        required: false
  push:
  pull_request:
env:
  CACHE_VERSION: 2.4.0
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: build
      run: |
        asdf
